<article class="scoreboard">
    <h3>Games - {{date|date("m/d/Y")}}</h3>
    <ul>
    {% for game in games %}
        <li><span>{{ game.away.name }} vs {{ game.home.name }}</span></li>
    {% endfor %}
    </ul>
</article>
